<?xml version="1.0" encoding="UTF-8"?>
<configuration status="off" packages="net.audumla.devices.raspberrypi.lcd">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<LCDAppender name="LCD">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</LCDAppender>
	</appenders>
	<loggers>
		<root level="info">
			<appender-ref ref="Console" />
		</root>
		<logger name="LCDLogger" level="trace" additivity="false">
			<appender-ref ref="LCD" />
		</logger>
	</loggers>
</configuration>